In [4]:
import pandas as pd
import numpy as np

### 数据预处理，形成训练集

In [91]:
line_list = []
with open('./Adult/adult.data') as lines:
    for line in lines:
        l = line.split(',')
        if '?' in l:
            print('yes')
        line_list.append(l)

In [92]:
data = pd.DataFrame(line_list,
                    columns=['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                             'marital-status', 'occupation', 'relationship',
                             'race', 'sex', 'capital-gain', 'capital-loss','hours-per-week',
                             'native-country', 'label'])

In [93]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32562 entries, 0 to 32561
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32562 non-null  object
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  object
 3   education       32561 non-null  object
 4   education-num   32561 non-null  object
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  object
 11  capital-loss    32561 non-null  object
 12  hours-per-week  32561 non-null  object
 13  native-country  32561 non-null  object
 14  label           32561 non-null  object
dtypes: object(15)
memory usage: 3.7+ MB

In [94]:
data = data.iloc[:-1, :]

In [95]:
for col in ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']:
    data[col] = data[col].astype(int)

In [97]:
for col in ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'native-country', 'label']:
    data[col] = data[col].astype(str)
    data[col] = data[col].apply(lambda x: x.strip(' '))
    data[col] = data[col].apply(lambda x : None if x == '?' else x)

In [98]:
data['label'] = data['label'].apply(lambda l : l.strip())

In [99]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int32
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int32
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int32
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int32
 11  capital-loss    32561 non-null  int32
 12  hours-per-week  32561 non-null  int32
 13  native-country  31978 non-null  object
 14  label           32561 non-null  object
dtypes: int32(6), object(9)
memory usage: 3.0+ MB

In [100]:
data.dropna(axis='index', how='any', inplace=True)

In [101]:
data['sex'] = data['sex'].apply(lambda x : 0 if x == 'Male' else 1)

In [102]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int32
 1   workclass       30162 non-null  object
 2   fnlwgt          30162 non-null  int32
 3   education       30162 non-null  object
 4   education-num   30162 non-null  int32
 5   marital-status  30162 non-null  object
 6   occupation      30162 non-null  object
 7   relationship    30162 non-null  object
 8   race            30162 non-null  object
 9   sex             30162 non-null  int64
 10  capital-gain    30162 non-null  int32
 11  capital-loss    30162 non-null  int32
 12  hours-per-week  30162 non-null  int32
 13  native-country  30162 non-null  object
 14  label           30162 non-null  object
dtypes: int32(6), int64(1), object(8)
memory usage: 3.0+ MB

In [103]:
data.describe()

,age,fnlwgt,education-num,sex,capital-gain,capital-loss,hours-per-week
count,30162.000000,3.016200e+04,30162.000000,30162.0,30162.000000,30162.000000,30162.000000
mean,38.437902,1.897938e+05,10.121312,1.0,1092.007858,88.372489,40.931238
std,13.134665,1.056530e+05,2.549995,0.0,7406.346497,404.298370,11.979984
min,17.000000,1.376900e+04,1.000000,1.0,0.000000,0.000000,1.000000
25%,28.000000,1.176272e+05,9.000000,1.0,0.000000,0.000000,40.000000
50%,37.000000,1.784250e+05,10.000000,1.0,0.000000,0.000000,40.000000
75%,47.000000,2.376285e+05,13.000000,1.0,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,1.0,99999.000000,4356.000000,99.000000

In [104]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,1,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,1,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,1,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,1,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,1,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,1,15024,0,40,United-States,>50K

In [5]:
import tensorflow as tf

In [6]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [131]:
onehot_dic = dict()
for col in ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'native-country', 'label']:
    onehot_encoder = OneHotEncoder()
    onehot = onehot_encoder.fit_transform(data[[col]])
    onehot_dic[col] = onehot

In [275]:
onehot_dic

{'workclass': <30162x7 sparse matrix of type '<class 'numpy.float64'>'
 	with 30162 stored elements in Compressed Sparse Row format>,
 'education': <30162x16 sparse matrix of type '<class 'numpy.float64'>'
 	with 30162 stored elements in Compressed Sparse Row format>,
 'marital-status': <30162x7 sparse matrix of type '<class 'numpy.float64'>'
 	with 30162 stored elements in Compressed Sparse Row format>,
 'occupation': <30162x14 sparse matrix of type '<class 'numpy.float64'>'
 	with 30162 stored elements in Compressed Sparse Row format>,
 'relationship': <30162x6 sparse matrix of type '<class 'numpy.float64'>'
 	with 30162 stored elements in Compressed Sparse Row format>,
 'race': <30162x5 sparse matrix of type '<class 'numpy.float64'>'
 	with 30162 stored elements in Compressed Sparse Row format>,
 'native-country': <30162x41 sparse matrix of type '<class 'numpy.float64'>'
 	with 30162 stored elements in Compressed Sparse Row format>,
 'label': <30162x2 sparse matrix of type '<class 'numpy.float64'>'
 	with 30162 stored elements in Compressed Sparse Row format>}

In [136]:
for col in ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']:
    standard_scaler = StandardScaler() 
    data[col] = standard_scaler.fit_transform(data[[col]])

In [137]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,0.042796,State-gov,-1.062722,Bachelors,1.128918,Never-married,Adm-clerical,Not-in-family,White,1,0.146092,-0.218586,-0.077734,United-States,0
1,0.880288,Self-emp-not-inc,-1.007871,Bachelors,1.128918,Married-civ-spouse,Exec-managerial,Husband,White,1,-0.147445,-0.218586,-2.331531,United-States,0
2,-0.033340,Private,0.244693,HS-grad,-0.439738,Divorced,Handlers-cleaners,Not-in-family,White,1,-0.147445,-0.218586,-0.077734,United-States,0
3,1.108695,Private,0.425240,11th,-1.224066,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,-0.147445,-0.218586,-0.077734,United-States,0
4,-0.794697,Private,1.406658,Bachelors,1.128918,Married-civ-spouse,Prof-specialty,Wife,Black,1,-0.147445,-0.218586,-0.077734,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.870832,Private,0.638972,Assoc-acdm,0.736754,Married-civ-spouse,Tech-support,Wife,White,1,-0.147445,-0.218586,-0.244682,United-States,0
32557,0.118931,Private,-0.335252,HS-grad,-0.439738,Married-civ-spouse,Machine-op-inspct,Husband,White,1,-0.147445,-0.218586,-0.077734,United-States,1
32558,1.489374,Private,-0.358575,HS-grad,-0.439738,Widowed,Adm-clerical,Unmarried,White,1,-0.147445,-0.218586,-0.077734,United-States,0
32559,-1.251511,Private,0.110705,HS-grad,-0.439738,Never-married,Adm-clerical,Own-child,White,1,-0.147445,-0.218586,-1.747213,United-States,0
32560,1.032559,Self-emp-inc,0.928841,HS-grad,-0.439738,Married-civ-spouse,Exec-managerial,Wife,White,1,1.881120,-0.218586,-0.077734,United-States,1

In [127]:
data['label'] = data['label'].apply(lambda x : 0 if x=='<=50K' else 1)

In [143]:
train_dataset_part1 = tf.convert_to_tensor(data.loc[:, ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']])

In [144]:
train_dataset_part1

<tf.Tensor: shape=(30162, 6), dtype=float64, numpy=
array([[ 0.04279571, -1.0627216 ,  1.12891838,  0.14609228, -0.21858598,
        -0.07773411],
       [ 0.88028814, -1.00787131,  1.12891838, -0.14744462, -0.21858598,
        -2.3315307 ],
       [-0.03333996,  0.24469349, -0.4397382 , -0.14744462, -0.21858598,
        -0.07773411],
       ...,
       [ 1.48937355, -0.3585745 , -0.4397382 , -0.14744462, -0.21858598,
        -0.07773411],
       [-1.25151078,  0.11070545, -0.4397382 , -0.14744462, -0.21858598,
        -1.74721307],
       [ 1.0325595 ,  0.92884082, -0.4397382 ,  1.88111954, -0.21858598,
        -0.07773411]])>

In [161]:
train_dataset_part2 = tf.concat([v.toarray() for v in onehot_dic.values()], axis=1)

In [162]:
train_dataset_part2.shape

TensorShape([30162, 98])

In [163]:
train_dataset = tf.concat([train_dataset_part1, train_dataset_part2], axis=1)

In [169]:
train_dataset = tf.concat([train_dataset, data[['label']]], axis=1)

### 用同样的数据处理范式，加载测试数据集

In [690]:
def get_data(filepath):
    line_list = []
    with open(filepath) as lines:
        next(lines)
        for line in lines:
            l = line.split(',')
            if '?' in l:
                print('yes')
            line_list.append(l)
    
    data = pd.DataFrame(line_list,
                    columns=['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                             'marital-status', 'occupation', 'relationship',
                             'race', 'sex', 'capital-gain', 'capital-loss','hours-per-week',
                             'native-country', 'label'])
    
    data = data.iloc[:-1, :]

    for col in ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']:
        data[col] = data[col].astype(int)

    for col in ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'native-country', 'sex', 'label']:
        data[col] = data[col].astype(str)
        data[col] = data[col].apply(lambda x: x.strip(' '))
        data[col] = data[col].apply(lambda x : None if x == '?' else x)

    data['label'] = data['label'].apply(lambda l : l.strip())

    data.dropna(axis='index', how='any', inplace=True)

    data['sex'] = data['sex'].apply(lambda x : 0 if x == 'Male' else 1)

    data['label'] = data['label'].apply(lambda x : 0 if x=='<=50K' else 1)

    return data

In [691]:
data_part1 = get_data('./Adult/adult.data')
data_part2 = get_data('./Adult/adult.test')

In [692]:
data = data_part1.append(data_part2)

C:\Users\13015\AppData\Local\Temp\ipykernel_5028\61704691.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data_part1.append(data_part2)

In [693]:
# 使用分层抽样划分训练集与测试集
from sklearn.model_selection import StratifiedShuffleSplit
spliter = StratifiedShuffleSplit(n_splits=1, test_size=0.3, random_state=42)
for train_indices, test_indices in spliter.split(data, data['label']):
    train_dataset = data.iloc[train_indices]
    test_dataset = data.iloc[test_indices]

In [694]:
train_dataset['label'].value_counts()

0    15857
1    15797
Name: label, dtype: int64

In [695]:
test_dataset['label'].value_counts()

0    6796
1    6771
Name: label, dtype: int64

In [696]:
# categories_dic = {
#     'workclass': ['Private', 'Self-emp-not-inc', 'Self-emp-inc', 'Federal-gov', 'Local-gov', 'State-gov', 'Without-pay', 'Never-worked'],
#     'education': ['Bachelors', 'Some-college', '11th', 'HS-grad', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', '9th', '7th-8th', '12th', 'Masters',' 1st-4th', '10th', 'Doctorate', '5th-6th', 'Preschool'],
#     'marital-status': ['Married-civ-spouse', 'Divorced', 'Never-married', 'Separated', 'Widowed', 'Married-spouse-absent', 'Married-AF-spouse'],
#     'occupation': ['Tech-support', 'Craft-repair', 'Other-service', 'Sales', 'Exec-managerial', 'Prof-specialty', 'Handlers-cleaners', 'Machine-op-inspct', 'Adm-clerical', 'Farming-fishing', 'Transport-moving', 'Priv-house-serv', 'Protective-serv', 'Armed-Forces'],
#     'relationship': ['Wife', 'Own-child', 'Husband', 'Not-in-family', 'Other-relative', 'Unmarried'],
#     'race': ['White', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other', 'Black'],
#     'native-country': ['United-States', 'Cambodia', 'England', 'Puerto-Rico', 'Canada', 'Germany', 'Outlying-US(Guam-USVI-etc)', 'India', 'Japan', 'Greece', 'South', 'China', 'Cuba', 'Iran', 'Honduras', 'Philippines', 'Italy', 'Poland', 'Jamaica', 'Vietnam', 'Mexico', 'Portugal', 'Ireland', 'France', 'Dominican-Republic', 'Laos', 'Ecuador', 'Taiwan', 'Haiti', 'Columbia', 'Hungary', 'Guatemala', 'Nicaragua', 'Scotland', 'Thailand', 'Yugoslavia', 'El-Salvador', 'Trinadad&Tobago', 'Peru', 'Hong', 'Holand-Netherlands']
# }

In [697]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31654 entries, 30561 to 9822
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             31654 non-null  int32
 1   workclass       31654 non-null  object
 2   fnlwgt          31654 non-null  int32
 3   education       31654 non-null  object
 4   education-num   31654 non-null  int32
 5   marital-status  31654 non-null  object
 6   occupation      31654 non-null  object
 7   relationship    31654 non-null  object
 8   race            31654 non-null  object
 9   sex             31654 non-null  int64
 10  capital-gain    31654 non-null  int32
 11  capital-loss    31654 non-null  int32
 12  hours-per-week  31654 non-null  int32
 13  native-country  31654 non-null  object
 14  label           31654 non-null  int64
dtypes: int32(6), int64(2), object(7)
memory usage: 3.1+ MB

In [698]:
onehot_encoder_dic = dict()
for col in ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'native-country']:
    onehot_encoder = OneHotEncoder()
    onehot_encoder.fit(data[[col]])
    onehot_encoder_dic[col] = onehot_encoder

In [699]:
from sklearn.preprocessing import MinMaxScaler

In [701]:
def data_process(data):
    for col in ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']:
        # standard_scaler = StandardScaler()
        minmaxscaler = MinMaxScaler()
        data[col] = minmaxscaler.fit_transform(data[[col]])

    onehot_dic = dict()
    for col in ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'native-country']:
        onehot = onehot_encoder_dic[col].transform(data[[col]])
        onehot_dic[col] = onehot
    
    
    dataset_part1 = tf.convert_to_tensor(data.loc[:, ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']])
    dataset_part2 = tf.concat([v.toarray() for v in onehot_dic.values()], axis=1)
    dataset = tf.concat([dataset_part1, dataset_part2, data[['sex']], data[['label']]], axis=1)

    return dataset

In [702]:
train_dataset = data_process(train_dataset)
test_dataset = data_process(test_dataset)

C:\Users\13015\AppData\Local\Temp\ipykernel_5028\2211277084.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = minmaxscaler.fit_transform(data[[col]])
C:\Users\13015\AppData\Local\Temp\ipykernel_5028\2211277084.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = minmaxscaler.fit_transform(data[[col]])
C:\Users\13015\AppData\Local\Temp\ipykernel_5028\2211277084.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = minmaxscaler.fit_transform(data[[col]])
C:\Users\13015\AppData\Local\Temp\ipykernel_5028\2211277084.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = minmaxscaler.fit_transform(data[[col]])
C:\Users\13015\AppData\Local\Temp\ipykernel_5028\2211277084.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = minmaxscaler.fit_transform(data[[col]])
C:\Users\13015\AppData\Local\Temp\ipykernel_5028\2211277084.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = minmaxscaler.fit_transform(data[[col]])
C:\Users\13015\AppData\Local\Temp\ipykernel_5028\2211277084.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = minmaxscaler.fit_transform(data[[col]])
C:\Users\13015\AppData\Local\Temp\ipykernel_5028\2211277084.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = minmaxscaler.fit_transform(data[[col]])
C:\Users\13015\AppData\Local\Temp\ipykernel_5028\2211277084.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = minmaxscaler.fit_transform(data[[col]])
C:\Users\13015\AppData\Local\Temp\ipykernel_5028\2211277084.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = minmaxscaler.fit_transform(data[[col]])
C:\Users\13015\AppData\Local\Temp\ipykernel_5028\2211277084.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = minmaxscaler.fit_transform(data[[col]])
C:\Users\13015\AppData\Local\Temp\ipykernel_5028\2211277084.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = minmaxscaler.fit_transform(data[[col]])

In [703]:
train_dataset.shape

TensorShape([31654, 104])

In [709]:
test_dataset.shape

TensorShape([13567, 104])

In [710]:
np.savetxt('./data/train.txt', train_dataset.numpy())

In [551]:
np.savetxt('./data/test.txt', test_dataset.numpy())

### 训练模型

In [378]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.svm import LinearSVC

# logistic_reg = LogisticRegression(max_iter=500)
# lr_svm = LinearSVC(max_iter=5000)

# logistic_reg.fit(train_dataset[:,:-1], train_dataset[:, -1])
# lr_svm.fit(train_dataset[:,:-1], train_dataset[:, -1])

# y_pred = logistic_reg.predict(test_dataset[:, :-1])
# y_pred = lr_svm.predict(test_dataset[:, :-1])
# evaluate(y_pred=y_pred, y=test_dataset[:, -1])

In [658]:
class Config:
    def __init__(self) -> None:
        self.batch_size = 256
        self.learn_rate = 0.3
        self.epochs = 20
config = Config()

In [659]:
def load_array(data_arrays, batch_size, is_train=True):
    dataset = tf.data.Dataset.from_tensor_slices(data_arrays)
    if is_train:
        dataset = dataset.shuffle(buffer_size=len(data_arrays), seed=42)
    dataset = dataset.batch(batch_size)
    return dataset

In [660]:
data_iter = load_array((train_dataset[:, :-1], train_dataset[:, -1]), batch_size=config.batch_size, is_train=True)

In [661]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(units=train_dataset[:, :-1].shape[1], kernel_initializer=tf.keras.initializers.Zeros()))
model.add(tf.keras.layers.Dense(units=50, kernel_initializer=tf.keras.initializers.RandomNormal(seed=42), activation='softmax'))
# model.add(tf.keras.layers.Dropout(0.5))
model.add(tf.keras.layers.Dense(2, activation='sigmoid'))

In [662]:
loss = tf.keras.losses.BinaryCrossentropy(from_logits=False)
optimizer = tf.keras.optimizers.SGD(learning_rate=config.learn_rate)

In [663]:
# def evaluate(y_pred, y):
#     ones = tf.ones_like(y_pred)
#     zeros = tf.zeros_like(y_pred)
#     output = tf.where(y_pred > 0.5 , ones, zeros)
#     y = tf.reshape(y, output.shape)
#     res = tf.reduce_sum(tf.where(y == tf.cast(output, dtype=y.dtype), ones, zeros))/y.shape[0]
#     return res.numpy()

def evaluate(y_true, y_pred):
    y_pred = tf.argmax(y_pred, axis=1)
    res = tf.equal(tf.cast(y_true, y_pred.dtype), y_pred)
    res = np.mean(res)
    return res

In [664]:
train_dataset.shape

TensorShape([31654, 104])

In [665]:
test_dataset.shape

TensorShape([13567, 104])

In [666]:
for epoch in range(config.epochs):
    train_loss_list = []
    train_acc_list = []
    for X, y in data_iter:
        # y = tf.reshape(y, (y.shape[0],1))  # this step is very important
        with tf.GradientTape() as tape:
            y_pred = model(X)
            l = loss(y_true=tf.one_hot(tf.cast(y, tf.int32), depth=2), y_pred=y_pred)
        grads = tape.gradient(l, model.trainable_variables)
        # print(grads)
        optimizer.apply_gradients(zip(grads, model.trainable_variables))
        train_loss_list.append(l)
        train_acc_list.append(evaluate(y_true=y, y_pred=model(X)))
    train_loss = np.mean(train_loss_list)
    train_acc = np.mean(train_acc_list)
    test_loss = loss(y_pred=model(test_dataset[:, :-1]), y_true=tf.one_hot(tf.cast(test_dataset[:, -1], tf.int32), depth=2))
    test_acc = evaluate(y_pred=model(test_dataset[:, :-1]), y_true=test_dataset[:, -1])
    # print(train_loss, test_loss)
    print("epoch:{}, trian_loss:{:.5f}, train_acc:{:.3f}, test_loss:{:.5f}, test_acc:{:.3f}".format(epoch+1, train_loss, train_acc, test_loss.numpy(), test_acc))

WARNING:tensorflow:Layer dense_124 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because its dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

epoch:1, trian_loss:0.69310, train_acc:0.508, test_loss:0.69305, test_acc:0.499
epoch:2, trian_loss:0.69297, train_acc:0.518, test_loss:0.69288, test_acc:0.499
epoch:3, trian_loss:0.69279, train_acc:0.527, test_loss:0.69268, test_acc:0.499
epoch:4, trian_loss:0.69257, train_acc:0.540, test_loss:0.69241, test_acc:0.499
epoch:5, trian_loss:0.69227, train_acc:0.554, test_loss:0.69205, test_acc:0.499
epoch:6, trian_loss:0.69186, train_acc:0.574, test_loss:0.69154, test_acc:0.509
epoch:7, trian_loss:0.69128, train_acc:0.592, test_loss:0.69081, test_acc:0.534
epoch:8, trian_loss:0.69043, train_acc:0.610, test_loss:0.68972, test_acc:0.570
epoch:9, trian_loss:0.68916, train_acc:0.626, test_loss:0.68810, test_acc:0.601
epoch:10, trian_loss:0.68726, train_acc:0.635, test_loss:0.68565, test_acc:0.621
epoch:11, trian_loss:0.68436, train_acc:0.639, test_loss:0.68193, test_acc:0.633
epoch:12, trian_loss:0.67996, train_acc:0.643, test_loss:0.67618, test_acc:0.644
epoch:13, trian_loss:0.67260, train_acc:0.644, test_loss:0.66522, test_acc:0.648
epoch:14, trian_loss:0.65515, train_acc:0.646, test_loss:0.64113, test_acc:0.658
epoch:15, trian_loss:0.63813, train_acc:0.649, test_loss:0.63036, test_acc:0.660
epoch:16, trian_loss:0.63176, train_acc:0.650, test_loss:0.62585, test_acc:0.660
epoch:17, trian_loss:0.62812, train_acc:0.653, test_loss:0.62278, test_acc:0.659
epoch:18, trian_loss:0.62523, train_acc:0.654, test_loss:0.62015, test_acc:0.660
epoch:19, trian_loss:0.62268, train_acc:0.656, test_loss:0.61779, test_acc:0.662
epoch:20, trian_loss:0.62045, train_acc:0.656, test_loss:0.61578, test_acc:0.663

In [667]:
X = tf.constant([[0.3, 0.7], [0.3, 0.7], [0.2, 0.8]])
# y = tf.constant([[0, 1], [1, 0], [0, 1]])
y = tf.constant([1, 0, 1])
evaluate(y, X)

0.6666666666666666